@import './reset.css';
@import './config.css';
@import url('https://fonts.cdnfonts.com/css/aurebesh');
@import url('https://fonts.cdnfonts.com/css/aurebeshenglish');

html {
  background: var(--color-background);
  color: var(--color-text);
  font-family: monospace;
  font-size: var(--font-size);
}

b {
  color: var(--color-emphasis);
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: var(--color-link);
  }
}
